.grid {
	display: flex;
	flex-flow: row wrap;
	width: 300px;
	height: 600px;
	background-color: rgba(0, 0, 0, 0.1);
	border: 5px solid rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	/*margin: auto;
	margin-top: 80px;*/
}

.tetromino {
	/*background-color: blue;*/
	box-shadow: inset -2px -2px 0 0 rgba(171, 178, 179,0.4), inset 2px 2px 0 0 rgba(255, 255, 255, 0.5);
	border-radius: 4px;
}

.mini-grid {
	height: 120px;
	width: 120px;
	display: flex;
	flex-flow: row wrap;
	background-color: rgba(0, 0, 0, 0.1);
	border: 5px solid rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	position: absolute;
	top: 250px;
	left: calc(100% - 250px);
	padding: 12px;
	
}

body {
	background: rgb(174,225,238);
	background: radial-gradient(circle, rgba(174,225,238,1) 0%, rgba(148,187,233,1) 100%);

	/*background: rgb(174,238,214);
	background: radial-gradient(circle, rgba(174,238,214,1) 0%, rgba(148,187,233,1) 100%);*/
	/*background: rgb(174,238,222);
	background: radial-gradient(circle, rgba(174,238,222,1) 0%, rgba(148,214,233,1) 100%);*/
	font-family: 'Rajdhani', sans-serif;
	width: 100%;
	margin: 0;

}

h3, button {
	position: absolute;
}



h1 {
	text-align: center;
	font-size: 72px;
	letter-spacing: 18px;
	text-indent: 18px;
	/*text-shadow: 2px 2px #000000;*/
	color: #FFFFFF;
}

.gridsCont {
	display: flex;
	justify-content: center;
	flex-direction: row;
}


#musicBtn {
	height: 40px;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	border: 0px;
	font-size: 20px; 
	text-indent: -3px;
	top: 300px;
	left: 80px;
	outline: 0;
}

#musicBtn:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
}

#musicBtn.paused {
	color: #d7dade;
}