.grid {
	display: flex;
	flex-flow: row wrap;
	width: 300px;
	height: 600px;
	background-color: grey;
	border: 5px solid black;
	margin: auto;
}

.tetromino {
	/*background-color: blue;*/
}

.mini-grid {
	height: 120px;
	width: 120px;
	display: flex;
	flex-flow: row wrap;
	background-color: grey;
}